/* CSS Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
:root {
	--bg-primary: #ffffff; /*white for header+ hero section*/
	--bg-secondary: #f7f7f7; /*gray for portfolio section */
	--bg-tertiary: #252021;  /*footer section*/
	--color-primary: #252122; /*Section Heading*/
	--color-secondary: #5d5d5d; /*Section Content*/
	--color-tertiary: rgb(213, 35, 73); /*Red box background*/
	--font: "Source Sans Pro", sans-serif;
	--text-color: #5d5d5d;
	/*--heading-color: #fff;*/
	  font-size: 16px;
}
body {
	font-family: var(--font);
	line-height: 1.5;
	/*letter-spacing: 0.034rem;*/
	color: var(--text-color);
}

/********** Base CSS *************/
*, *:before, *:after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #fff;
}
button {
	border: 0;
	cursor: pointer;
}
button:focus {
	outline: 0;
}
input {
	border: 0;
	margin: 0;
}
input:focus {
	outline: 0;
}

/** Heading Elements **/

h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2rem;
	font-weight: 700;
}
h4 {
	font-size: 1.5rem;
	font-weight: 700;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.8rem;
	font-weight: 700;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.img-responsive {
	width: 100%;
}
/** clearfix **/
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* General */
.wrapper {
	max-width: 1120px;
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}
.padding {
	padding: 80px 0;
}
.heading {
	color: var(--heading-color);
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
}
.heading-secondary {
	color: var(--text-color);
}
.sub-heading {
	font-weight: 400;
	/*color: #b6babf;*/
}
/**********************************
***********************************/
/* Header */
.header  {
  background: var(--bg-primary);
  padding: 5rem 0 2.5rem 0;
}
.header h2 {
  color: var(--color-primary);
}
.nav {
	margin-top: 50px;
}
.nav-head a { 
	font-style: italic;
	border-radius: 5px;
	font-weight: 500;
	padding: 12px;
	background: var(--bg-primary);
  color: var(--color-secondary);
}
.nav-head li {
  display: inline-block;
  margin: 0px 20px;
}
.nav .active {
  background-color: var(--color-tertiary);
	color: var(--bg-primary);
	border-radius: 5px;
}
.nav a:hover {
	background-color: var(--bg-secondary);
	color: var(--color-secondary);
  border-radius: 5px;
  cursor: pointer;
}
.nav .active:hover {
  background-color: var(--color-tertiary);
  color: var(--bg-primary);
  border: 5px;
}
.dropdown-link {
	position: relative;
}
.sub-menu-box {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	padding-top: 30px;
}
.sub-menu {
	background: var(--bg-tertiary);
	border-radius: 4px;
	padding: 20px 20px;
	text-align: left;
	width: 170px;
	display: none;
}
.sub-menu li {
	display: block;
	margin: 0;
}
.sub-menu li a {
	display: block;
	background: none;
	padding: 0;
}
.dropdown-link:hover .sub-menu {
	display: block;
}
.sub-menu li a:hover {
	background: none;
	color: #fff;
}
/******Banner************/

.banner {
  background: url("./../media/pic01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8em 0;
}
.banner-heading h2 {
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
}

.banner-heading {
  background-color: rgba(34, 30, 31, 0.98);
  display: inline-block;
  padding: 2.5em 5em;
  border-radius: 5px;
}

.banner-heading p {
  color: var(--color-tertiary);
  font-size: 1.4rem;
}

/* Article section */
.icon-feature {
	font-size: 48px;
  position: relative;
  display: inline-block;
	background-color: var(--color-tertiary);
	color: var(--bg-primary);
  padding: 10px 60px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 25px;
	cursor: default;
}
.icon-feature i {
	color: #fff;
}
.content {
	padding: 80px 40px;
	box-shadow: -8px 0 16px -13px rgba(0, 0, 0, 0.4);
}
.content:first-child {
	box-shadow: none;
}
.content h2 {
	color: var(--color-primary);
	font-weight: 700;
	padding: 20px;
}
.content p {
	background: var(text-color);
	font-weight: 300;
}
.icon-feature-bolt {
	background: #252122;
}
.icon-feature-star {
	background: #827A7C;
}
.extra-link-btn {
	padding: 20px 80px;
	margin-top: 50px;
	border-radius: 5px;
	font-weight: 700;
	color: #fff;
	font-size: 20px;
	letter-spacing: 1;
	/*box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.5);*/
}
.extra-link .btn1 {
	background: #e53359;
}
.extra-link .btn2 {
	background: #353132;
	margin-left: 15px;
}
.extra-link .btn1:hover {
	background: #F7004E;
}
.extra-link .btn2:hover {
	background: black;
}
/* style ends for header and hero section */

/* Portfolio CSS */

.portfolio {
	background: var(--bg-secondary);
}
.portfolio_wrapper {
	margin-left: -20px;
	margin-right: -20px;
}
.portfolio_item {
	padding: 0 20px;
}
.portfolio_child {
	background: #fff;
	border-bottom: 1px solid #ccc;
}
.portfolio_content {
	text-align: left;
	font-family: var(--font);
	font-weight: 300;
	color: var(--text-color);
	box-sizing: border-box;
	padding: 20px;
	letter-spacing: 0.034rem;
}
.portfolio_content h4 h5 {
	padding: 20px;
}
.portfolio_item p {
	padding: 10px;
}
.portfolio_item .btn {
	padding: 16px 24px;
	border-radius: 6px;
	font-weight: 900;
	box-shadow: none;
	background: var(--bg-tertiary);
	color: #fff;
	font-size: 0.9rem;
	margin: 20px 0;
}
.red:hover {
	background: #e53359;
}
.black:hover {
	background: #353132;
}
.portfolio h3 {
	color: var(--color-primary);
	position: relative;
	margin-bottom: 30px;
}
.portfolio h4 {
	color: var(--color-primary);
}
.portfolio h5 i {
	font-style: italic;
	font-weight: 300;

}
.portfolio_heading span:before, .portfolio_heading span:after {
	content: '';
	border-bottom: 1px solid #ccc;
	display: inline-block;
	width: 40%;
	position: absolute;
	top: 50%;
}
.portfolio_heading span:before {
	left: 0;
}
.portfolio_heading span:after  {
	right: 0;
}
button i {
	color: #ccc;
	padding: 0 6px;
	opacity: 0.4;
}
.portfolio_item .btn .red {
	background: red;
	font-size: 0.9rem;
}
.blog {
	padding: 20px 0px;
}

/* Footer Styles */

footer {
	background: var(--bg-tertiary);
}
header h3 {
	color: white;
}
.arrow {
	width: 55px;
	height: 55px;
	left: 0;
	background-color: #d52349;
	text-align: center;
	color: #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
}
.row {
	vertical-align: middle;
}
.row h5 {
	color: white;
	padding: 10px 20px;
	
}

.row p {
	line-height: 0.4rem;
	color: #858484;
	padding: 0px 20px;
	vertical-align: middle;
}
.footer hr {
	border: 1px solid rgb(43, 42, 42);
}
.footer li {
	padding: 10px 0;
}
.row-side {
	margin-left: 40px;
	padding: 20px;
}
.row-side h3 {
	color: #fff;
	margin: 10px;
}
.row-side p {
	color: #858484;
}
.footer-contact h4, .footer-contact h5 {
	color: #fff;
}
.row-side .btn {
	padding: 16px 24px;
	border-radius: 6px;
	font-weight: 900;
	box-shadow: none;
	background: red;
	color: #fff;
	font-size: 0.9rem;
	margin: 20px 0;
}
.row-side {
	padding: 20px;
}

/* Social */

.fab {
	font-size: 3.4rem;	
}
.fa-facebook-square {
	color: #4C6AA8;
}
.fa-twitter-square {
	color: #2daae4;
}
.fa-dribbble-square {
	color: #c4376b;
}
.fa-tumblr-square {
	color: #2b4661;
}
.fa-linkedin {
	color: #006599;
}
.links a, .links {
	text-decoration: underline;
}
.footer-contact a:hover, p:hover {
	text-decoration: none;
}
.links li {
	display: inline-block;
	margin: 5px;
}
.footer-contact li h5 {
	position: absolute;
}
.footer-contact li p {
	position: relative;
	left: 120px;
}
.social {
	margin-left: 40px;
}

/* Copyright section */

.wrapper .copyright {
	padding: 16px 24px;
	border-radius: 6px;
	font-weight: 700;
	box-shadow: none;
	background: rgba(255, 255, 255, 0.05);
	color: #858484;
	font-size: 1rem;
	margin: 20px 0;
}
footer {
	padding: 60px 0;
}

/* Grid */
.pull-back {
	margin-left: -20px;
	margin-right: -20px;
}
.col {
	padding: 0 20px;
}
.col-1 {
	width: 8.3333%;
	float: left;
}
.col-2 {
	width: 16.6667%;
	float: left;
}
.col-3 {
	width: 25%;
	float: left;
}
.col-4 {
	width: 33.3333%;
	float: left;
}
.col-5 {
	width: 41.6667%;
	float: left;
}
.col-6 {
	width: 50%;
	float: left;
}
.col-7 {
	width: 58.3333%;
	float: left;
}
.col-8 {
	width: 66.6667%;
	float: left;
}
.col-9 {
	width: 75%;
	float: left;
}
.col-10 {
	width: 83.3333%;
	float: left;
}
.col-11 {
	width: 91.6667%;
	float: left;
}
.col-12 {
	width: 100%;
	float: left;
}

@media all and (max-width: 992px) {
	.col-md-1 {
		width: 8.3333%;
		float: left;
	}
	.col-md-2 {
		width: 16.6667%;
		float: left;
	}
	.col-md-3 {
		width: 25%;
		float: left;
	}
	.col-md-4 {
		width: 33.3333%;
		float: left;
	}
	.col-md-5 {
		width: 41.6667%;
		float: left;
	}
	.col-md-6 {
		width: 50%;
		float: left;
	}
	.col-md-7 {
		width: 58.3333%;
		float: left;
	}
	.col-md-8 {
		width: 66.6667%;
		float: left;
	}
	.col-md-9 {
		width: 75%;
		float: left;
	}
	.col-md-10 {
		width: 83.3333%;
		float: left;
	}
	.col-md-11 {
		width: 91.6667%;
		float: left;
	}
	.col-md-12 {
		width: 100%;
		float: left;
	}
}
@media all and (max-width: 768px) {
	.col-sm-1 {
		width: 8.3333%;
		float: left;
	}
	.col-sm-2 {
		width: 16.6667%;
		float: left;
	}
	.col-sm-3 {
		width: 25%;
		float: left;
	}
	.col-sm-4 {
		width: 33.3333%;
		float: left;
	}
	.col-sm-5 {
		width: 41.6667%;
		float: left;
	}
	.col-sm-6 {
		width: 50%;
		float: left;
	}
	.col-sm-7 {
		width: 58.3333%;
		float: left;
	}
	.col-sm-8 {
		width: 66.6667%;
		float: left;
	}
	.col-sm-9 {
		width: 75%;
		float: left;
	}
	.col-sm-10 {
		width: 83.3333%;
		float: left;
	}
	.col-sm-11 {
		width: 91.6667%;
		float: left;
	}
	.col-sm-12 {
		width: 100%;
		float: left;
	}
}
/* Responsive Css */
@media all and (max-width: 768px) {
	:root {
		font-size: 12px;
	}
	.nav-head li {
	  display: block;
	  margin: 40px 0px;
	}
}