/* CSS Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
:root {
	--bg-primary: #ffffff; /*white for header+ hero section*/
	--bg-secondary: #f7f7f7; /*gray for portfolio section */
	--bg-tertiary: #252021;  /*footer section*/
	--color-primary: #252122; /*Section Heading*/
	--color-secondary: #5d5d5d; /*Section Content*/
	--color-tertiary: rgb(213, 35, 73); /*Red box background*/
	--font: "Source Sans Pro";
	--text-color: #5d5d5d;
	/*--heading-color: #fff;*/
	  font-size: 16px;
}
body {
	font-family: var(--font);
	line-height: 1.5;
	/*letter-spacing: 0.034rem;*/
	color: var(--text-color);
}

/********** Base CSS *************/
*, *:before, *:after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #fff;
}
button {
	border: 0;
	cursor: pointer;
}
button:focus {
	outline: 0;
}
input {
	border: 0;
	margin: 0;
}
input:focus {
	outline: 0;
}

/** Heading Elements **/

h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2rem;
	font-weight: 700;
}
h4 {
	font-size: 1.5rem;
	font-weight: 700;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.8rem;
	font-weight: 700;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.img-responsive {
	width: 100%;
}
/** clearfix **/
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* General */
.wrapper {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}
.padding {
	padding: 80px 0;
}
.heading {
	color: var(--heading-color);
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
}
.heading-secondary {
	color: var(--text-color);
}
.sub-heading {
	font-weight: 400;
	color: #b6babf;
}


/* Grid */
.col {
	padding: 15px;
}
.col-1 {
	width: 8.3333%;
	float: left;
}
.col-2 {
	width: 16.6667%;
	float: left;
}
.col-3 {
	width: 25%;
	float: left;
}
.col-4 {
	width: 33.3333%;
	float: left;
}
.col-5 {
	width: 41.6667%;
	float: left;
}
.col-6 {
	width: 50%;
	float: left;
}
.col-7 {
	width: 58.3333%;
	float: left;
}
.col-8 {
	width: 66.6667%;
	float: left;
}
.col-9 {
	width: 75%;
	float: left;
}
.col-10 {
	width: 83.3333%;
	float: left;
}
.col-11 {
	width: 91.6667%;
	float: left;
}
.col-12 {
	width: 100%;
	float: left;
}
/**********************************
***********************************/
/* Header */
header {
    position: relative;
    background: #ffffff;
    border-bottom: solid 1px #ccc;
    padding: 5em 0 4em 0;
    text-align: center;
    text-transform: capitalize;
}
header h1{
    margin-bottom: 38px;
}
ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
}
ul li {
    display: inline-block;
    margin: 0px 20px;
}
.nav .active {
    background-color:#D52349;
	color: #fff;
	border-radius: 5px;
}
.nav a:hover {
	background-color:#F3F3F3;
	color:#5d5d5d;
    border-radius: 5px;
    cursor: pointer;
}
.nav .active:hover{
    background-color:#D52349;
    color:#fff;
    border: 5px;
}
.btn {
	padding:0.6em 1.2em 0.6em 1.2em;
	border-radius: 5px;
	font-weight: 500;
	background: #fff;
    color:#5d5d5d;
    outline: 0;
}
/******Banner************/

.banner {
    background: url("./../media/pic01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    padding: 8em 0;
    margin: 0px;
}
.banner  h2 {
    color: #fff;
    font-weight: 700;
    font-size: 2.5em;
    margin: 0 0 0.65em 0;
}

.banner-heading {
    background-color: rgba(34, 30, 31, 0.98);
    display: inline-block;
    padding: 2.5em 5em;
    border-radius: 5px;
}

.banner-heading p{
    color: #C42245;
}
.icon-feature {
    position: relative;
    display: inline-block;
    background-color: #d52349;
    width: 9em;
    padding: 1.75em 0 0.75em 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 0 4.5em 0;
    cursor: default;
}
