/* CSS Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
:root {
	--bg-primary: #ffffff; /*white for header+ hero section*/
	--bg-secondary: #f7f7f7; /*gray for portfolio section */
	--bg-tertiary: #252021;  /*footer section*/
	--color-primary: #252122; /*Section Heading*/
	--color-secondary: #5d5d5d; /*Section Content*/
	--color-tertiary: rgb(213, 35, 73); /*Red box background*/
	--font: "Source Sans Pro", sans-serif;
	--text-color: #5d5d5d;
	/*--heading-color: #fff;*/
	  font-size: 16px;
}
body {
	font-family: var(--font);
	line-height: 1.5;
	/*letter-spacing: 0.034rem;*/
	color: var(--text-color);
}

/********** Base CSS *************/
*, *:before, *:after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #fff;
}
button {
	border: 0;
	cursor: pointer;
}
button:focus {
	outline: 0;
}
input {
	border: 0;
	margin: 0;
}
input:focus {
	outline: 0;
}

/** Heading Elements **/

h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2rem;
	font-weight: 700;
}
h4 {
	font-size: 1.5rem;
	font-weight: 700;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.8rem;
	font-weight: 700;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.img-responsive {
	width: 100%;
}
/** clearfix **/
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* General */
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.padding {
	padding: 80px 0;
}
.heading {
	color: var(--heading-color);
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
}
.heading-secondary {
	color: var(--text-color);
}
.sub-heading {
	font-weight: 400;
	/*color: #b6babf;*/
}


/* Grid */
.col {
	padding: 15px;
}
.col-1 {
	width: 8.3333%;
	float: left;
}
.col-2 {
	width: 16.6667%;
	float: left;
}
.col-3 {
	width: 25%;
	float: left;
}
.col-4 {
	width: 33.3333%;
	float: left;
}
.col-5 {
	width: 41.6667%;
	float: left;
}
.col-6 {
	width: 50%;
	float: left;
}
.col-7 {
	width: 58.3333%;
	float: left;
}
.col-8 {
	width: 66.6667%;
	float: left;
}
.col-9 {
	width: 75%;
	float: left;
}
.col-10 {
	width: 83.3333%;
	float: left;
}
.col-11 {
	width: 91.6667%;
	float: left;
}
.col-12 {
	width: 100%;
	float: left;
}

/* Portfolio CSS */

.portfolio {
	background: var(--bg-secondary);
	box-sizing: border-box;
}
.portfolio_wrapper {
}
.portfolio_item {
	margin-right: 60px;
	background: white;
	box-sizing: border-box;
	position: relative;
	left: 80px;
}
.portfolio_content {
	text-align: left;
	font-family: var(font);
	font-weight: 300;
	color: var(text-color);
	box-sizing: border-box;
	padding: 20px;
	letter-spacing: 0.034rem;
}
.btn {
	padding: 16px 24px;
	border-radius: 6px;
	font-weight: 900;
	box-shadow: none;
	background: var(--color-primary);
	color: #fff;
	font-size: 0.8rem;
	margin: 20px 0;
}
.red:hover {
	background: #e53359;
}
.black:hover {
	background: #353132;
}
.portfolio h3 {
	margin: 20px;
	color: var(--color-primary);
}
.portfolio h4 {
	color: var(--color-primary);
}
.portfolio h5 i {
	font-style: italic;
	font-weight: 300;
}
h2 { 
	width:100%; 
	text-align:center; 
	border-bottom: 1px solid black; 
	line-height:0.1em; 
	margin:10px 20px; 
} 
h3 div {
    text-align: center;
    position: relative;
}
span {
    display: inline-block;    
}
span:before,
span:after {
    border-top: 1px solid #ccc;
    display: block;
    content: " ";
    width: 40%;
    position: absolute;
    left: 0;
    top: 1.5rem;
}
span:after {
   right: 0;  
   left: auto; 
}
button i {
	color: #ccc;
	padding: 0 6px;
	opacity: 0.4;
}
.red {
	background: #F7004E;
	font-size: 0.9rem;
}
.black {
	font-size: 0.9rem
}
.blog {
	padding: 20px 0px;
}

/* Footer Styles */

footer {
	background: var(--bg-tertiary);
}

header h3 {
	color: white;
}

.arrow {
	width: 55px;
	height: 55px;
	left: 0;
	background-color: #d52349;
	text-align: center;
	color: #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
}
.row {
	vertical-align: middle;
}
.row h3 {
	padding: 20px 0;
}
.row h5 {
	color: white;
	padding: 10px 20px;
	
}

.row p {
	line-height: 0.4rem;
	color: #858484;
	padding: 0px 20px;
	vertical-align: middle;
}
.footer hr {
	border: 1px solid rgb(43, 42, 42);

}
.footer li {
	padding: 10px 0;
}
.row-side {
	margin-left: 40px;
	padding: 20px;
}
.row-side h3 {
	color: #fff;
	margin: 10px;
}
.row-side p {
	color: #858484;
}

.footer-contact h4, .footer-contact h5 {
	color: #fff;
}

/* Social */

.fab {
	font-size: 52px;
	
}
.fa-facebook-square {
	color: #4C6AA8;
}
.fa-twitter-square {
	color: #2daae4;
}
.fa-dribbble-square {
	color: #c4376b;
}
.fa-tumblr-square {
	color: #2b4661;
}
.fa-linkedin {
	color: #006599;
}

.links a, .links {
	text-decoration: underline;
}

.footer-contact a:hover, p:hover {
	text-decoration: none;
}

.links li {
	display: inline-block;
	margin: 5px;
}

.footer-contact li h5 {
	position: absolute;
}

.footer-contact li p {
	position: relative;
	left: 150px;
}

/* Copyright section */

.copyright {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 5px;
	padding: 5px;
	margin: 0 auto;
}