/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Defining Clearfix*/

.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* Sidebar Left*/

.sidebar{
	float:left;
	margin-left: 30px;
}

.section-two h3{
	font-size: 32px;
	color: black;
	overflow: auto;
	margin:10px;
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Lato', sans-serif;

} 

.section-two .btn{
	margin: 10px;
	padding: 10px 20px 10px 10px;
}

.sidebar .btn a{
	background: black;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 4px;
}

.section-two .sidebar p{
	margin: 10px;
	padding: 10px 20px 10px 10px;
	color: #777;
	font-family: 'Lato', sans-serif;
}

hr{
	width:90%;
	display: inline-block;
	margin-left: 15px;
}

/*Sidebar Right*/

.sidebar2{
	float: right;
	margin-right: 30px;
}

.sidebar2 p{
	margin: 0 10px;
	padding: 5px 20px 5px 10px;
	color: #777;
	font-family: 'Lato', sans-serif;
}

.sidebar2 .btn a{
	background: black;
	color: white;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	padding: 15px;
	border-radius: 4px;

}

/* Center Section*/


.section-two h2{
	font-size: 44px;
	color: black;
	margin:10px;
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Lato', sans-serif;

}

.middle p{
	color: #818b8e;
	font-family: 'Lato', sans-serif;
	line-height: 20px;
	margin: 10px 40px;
	padding: 4px;
}

.middle .btn a{
	background: black;
	color: white;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	padding: 15px;
	border-radius: 4px;
}

.middle p strong{
	font-weight: bold;
}
